:root {
    --Rick-theme-op: #4259ef23;
    --Rick-gray-op: #9999992b;
    --Rick-theme-top: var(--Rick-theme);
    --Rick-white: #fff;
    --Rick-white-op: rgba(255, 255, 255, 0.2);
    --Rick-black: #000;
    --Rick-black-op: rgba(0, 0, 0, 0.2);
    --Rick-none: rgba(0, 0, 0, 0);
    --Rick-gray: rgb(50, 50, 50);
    --Rick-yellow: #ffc93e;
    --Rick-border-radius: 8px;
    --Rick-main: var(--Rick-theme);
    --Rick-main-op: var(--Rick-theme-op);
    --Rick-shadow-theme: 0 8px 12px -3px var(--Rick-theme-op);
    --Rick-shadow-main: 0 8px 12px -3px var(--Rick-main-op);
    --Rick-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --Rick-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --Rick-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --Rick-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --Rick-shadow-red: 0 8px 12px -3px #ee7d7936;
    --Rick-shadow-green: 0 8px 12px -3px #87ee7936;
    --Rick-shadow-border: 0 8px 16px -4px #2c2d300c;
    --Rick-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --Rick-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--Rick-card-border);
    --Rick-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--Rick-main);
    --style-border-dashed: 1px dashed var(--Rick-theme-op);
    --style-border-avatar: 4px solid var(--Rick-background);
    --style-border-always: 1px solid var(--Rick-card-border);
    --Rick-white-acrylic1: #fefeff !important;
    --Rick-white-acrylic2: #fcfdff !important;
    --Rick-black-acrylic2: #08080a !important;
    --Rick-black-acrylic1: #0b0b0e !important;
    --Rick-main-none: #b8b8b800 !important;
    --Rick-transparent-border: transparent;
    --Rick-footer-bg: transparent;
    --Rick-footer-secondbg: transparent;
    --Rick-footer-titlecolor: #6f71d3;
    --Rick-footer-fontcolor: #af80e4de;
    --Rick-footer-linkbg: #363636;
    --Rick-footer-linkcolor: #af80e4;
    --Rick-footer-hoverlinkbg: #6f71d3;
    --Rick-footer-hoverlinkcolor: #fff;
    --Rick-footer-hoverfontcolor: #5a87ff;
    --Rick-footer-hovertitlecolor: #af80e4;
    --Rick-white-top: rgb(238,238,238);
    --Rick-float-win-bg: whitesmoke;
    --Rick-globle-font: black;
    --Rick-button-dark-hover: #0084ff;
    --Rick-button-dark-bg: #66ccff;
    --Rick-button-font: white;
    --Rick-button-shadow: hsla(0, 0%, 22%, 0.2);
    --Rick-radius: 7px;
    --Rick-card-border-width: 1px;
}
[data-theme="light"] {
    --Rick-theme: #3b70fc;
    --Rick-theme-op: #4259ef23;
    --Rick-blue: #3b70fc;
    --Rick-gray: ##959a9b;
    --Rick-red: #d8213c;
    --Rick-pink: #ff7c7c;
    --Rick-green: #57bd6a;
    --Rick-fontcolor: #363636;
    --Rick-background: #f7f9fe;
    --Rick-reverse: #000;
    --Rick-maskbg: rgba(255, 255, 255, 0.6);
    --Rick-maskbgdeep: rgba(255, 255, 255, 0.85);
    --Rick-hovertext: var(--Rick-theme);
    --Rick-ahoverbg: #f7f7fa;
    --Rick-lighttext: #6f42c1;
    --Rick-secondtext: rgba(60, 60, 67, 0.6);
    --Rick-scrollbar: rgba(60, 60, 67, 0.4);
    --Rick-card-btn-bg: #edf0f7;
    --Rick-post-blockquote-bg: #fafcff;
    --Rick-post-tabs-bg: #f2f5f8;
    --Rick-secondbg: #edf0f7;
    --Rick-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --Rick-card-bg: #ffffff;
    --Rick-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --Rick-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --Rick-card-border: #c0c6d8;
    --Rick-code-bg: #3b70fc;
    --Rick-code-color: #f7f7fa;
    --Rick-copyright-border: #f6f6f6;
    --Rick-border-color: #e3e8f7;
    --Rick-card-bg: #ffffff;
    --Rick-card-border: #e3e8f7;
    --style-border-always: 1px solid var(--Rick-card-border);
    --Rick-blue: #425AEF;
    --Rick-describe-bg: #ebebeb;
}
[data-theme="dark"] {
    --global-bg: #191919;
    --Rick-theme: #0084ff;
    --Rick-theme-op: #0084ff23;
    --Rick-blue: #0084ff;
    --Rick-gray: #e9e9ea;
    --Rick-red: #ff3842;
    --Rick-pink: #ff7c7c;
    --Rick-green: #57bd6a;
    --Rick-fontcolor: rgb(225, 225, 225);
    --Rick-background: #18171d;
    --Rick-reverse: #fff;
    --Rick-maskbg: rgba(0, 0, 0, 0.6);
    --Rick-maskbgdeep: rgba(0, 0, 0, 0.85);
    --Rick-hovertext: #0a84ff;
    --Rick-ahoverbg: #fff;
    --Rick-lighttext: #f2b94b;
    --Rick-secondtext: #a1a2b8;
    --Rick-scrollbar: rgba(200, 200, 223, 0.4);
    --Rick-card-btn-bg: #30343f;
    --Rick-post-blockquote-bg: #000;
    --Rick-post-tabs-bg: #121212;
    --Rick-secondbg: #30343f;
    --Rick-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --Rick-card-bg: #1d1e22;
    --Rick-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --Rick-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --Rick-card-border: #42444a;
    --Rick-code-bg: #30343f;
    --Rick-code-color: #f2b94b;
    --Rick-copyright-border: #212121;
    --Rick-float-win-bg: #141414;
    --Rick-globle-font: white;
    --Rick-button-dark-hover: #49505d;
    --Rick-button-dark-bg: #1f1f1f;
    --Rick-button-font: #66ccff;
    --Rick-button-shadow: #212121;
    --Rick-border-color: #42444a;
    --Rick-card-bg: #1d1b26;
    --Rick-card-border: #42444a;
    --style-border-always: 1px solid var(--Rick-card-border);
    --Rick-blue: #0084FF;
    --Rick-describe-bg: #1d1b26;
}